<h1>Listing my_users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_users.each do |my_user| %>
  <tr>
    <td><%= my_user.name %></td>
    <td><%= my_user.email %></td>
    <td><%= link_to 'Show', my_user %></td>
    <td><%= link_to 'Edit', edit_my_user_path(my_user) %></td>
    <td><%= link_to 'Destroy', my_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New My user', new_my_user_path %>
